//fonts
@import "fonts";
//mixins, variables
@import "variablesNMore";
//screen sizes
@import "smallScreen";
@import "mediumScreen";
@import "bigScreen";
//keyframes and animations
@import "animations";

//kleuren geven
body {
  h1 {
    color: $h1Kleur;
  }
  footer {
    h5 {
      color: $footerKleur;
    }
  }
}

//footer
footer {
  bottom: 0;
  @include grootte(100%, auto);
  border-radius: 0px;
  @include kleur(darken(#6C757D, 15%), currentColor);

  p {
    font-size: 25px;
  }
}

//button
#btnModal {
  color: black;
  &:hover {
    color: $blauw;
  }
  &:active {
    color: invert($blauw);
  }
}

//text on image
.bgOpacity {
  position: relative;

}

.textOnImageNoHide {
  position: absolute;
  top: 52%;
  font-weight: bold;
  background-color: rgba(white, .6);
  margin-left: 5px;
  margin-right: 20px;
}

.textOnImage {
  position: absolute;
  top: 52%;
  font-weight: bold;
  background-color: rgba(white, .6);
  margin-left: 5px;
  margin-right: 20px;
  &:hover {
    @include kleur(rgba(white, 0), rgba(white, 0));
  }

}

//fout and goed
  //padding and margin
.fout, .goed {
  padding: 12px;
  margin: auto;
  margin: 10px;
}

  //color and list
.fout {
  color: $rood;
  list-style-type: symbols(cyclic "-");
}

.goed {
  color: $groen;
  list-style-type: symbols(cyclic "+");
}

//hide and show
  //klasse om iets te verbergen
.hide {
  display: none;
}
    //hidden objects
.hidden {
  display: none;
}
  //klasse om iets weer te geven
.show {
  display: block;
}




//volleyball shape
.volleyball {
  @include grootte(60px, 60px);
  border-radius: 50%;
  border: 3px dashed brown;
  @include kleur(darken($blauw, 8%), currentColor);
  transform: scale(0);

}



//divide in columns
.kolom {
  columns: 100px 3;
  column-gap: 50px;
  column-rule: 5px dotted $containerKleur;
}

.kolomGroot {
  font-style: italic;
}


//change link from Thomas More
#schoolLink {
  color: white;

  &:hover {
    color: lighten(#6C757D, 15%);
    text-decoration: none;
  }
}

.backgroundPic {
  max-width: 100%;
  vertical-align: middle;
  @include grootte(90%, 500px);
}

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
